<html>
<head>
<meta charset="utf8">
{% if page.keywords %}
<meta name="keywords" content="{{  page.keywords | join: ','  }}" />
{% endif %}
<title>{{ page.title }}</title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35423576-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<div id="left"></div>
<div id="main">
  <div id="card">
    <h2>{{ page.head }}</h2>
    <div id="content">
      {{ content }}
    </div>
  </div>
  <div id="contact">
    {% capture contact %}{% include contact.md %}{% endcapture %}
    {{ contact | markdownify }}
  </div>
</div>
</body>
</html>
